@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
}

/* navigation styles here */
.navbar-container {
  width: 800;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 38px;
 margin-bottom: 35px;
}
.nav-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 150px;
}
.nav-btn {
  width: 228px;
  height: 58px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  padding: 17px 24px 17px 24px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  margin-right: 230px;
  cursor: pointer;
  text-decoration: none;
}
.banner-container {
  max-width: 1440px;
  height: 652px;
  background-image: url(../assets/Hero-bg.png);
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 998px;
  height: 582px;
  left: 221px;
  right: 221px;
  margin-top: 26px;
}
.banner-content img {
  width: 240.28px;
  height: 240px;
  margin-bottom: 32px;
}
.banner-content h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.banner-content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
}
.banner-btn {
  border-radius: 8px;
  background: rgb(13, 19, 33);
  padding: 21px 24px 21px 24px;
}
.banner-btn a {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
}

/* reason section style starts here */
.dev-reason-container {
  width: 1140px;
  height: 1395px;
  margin: 0 auto;
  margin-top: 74px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  padding-top: 48px;
}
.reason-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.reason-texts h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.reason-texts p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 20px;
}
.do-coding-container {
  width: 946px;
  height: 336px;
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.do-coding-texts {
  margin-left: 48px;
}
.do-coding-texts h2 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.do-coding-texts p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 32px;
}
.do-coding-texts button {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 12px 20px 12px 20px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  background-color: white;
  cursor: pointer;
}
.do-coding-image {
  margin-right: 48px;
}
.do-coding-pic {
  margin-right: 48px;
}
.help-people-container {
  width: 946px;
  height: 336px;
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.help-people-image {
  margin-left: 68px;
}
.help-people-texts {
  margin-left: 48px;
}
.help-people-texts h2 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.help-people-texts p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 32px;
}
.help-people-texts button {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 12px 20px 12px 20px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  background-color: white;
  cursor: pointer;
}
/* inspiration styles starts here */
.inspiration-container {
  width: 1140px;
  height: 777px;
  margin: 0 auto;
  margin-top: 88px;
}
.inspiration-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inspiration-text h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-left: 50px;
}
.inspiration-text p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-top: 24px;
}
.iframe-container {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 0px;
  padding: 22px;
}
.iframe-video {
  border-radius: 16px;
  margin: 10px 10px;
}

/* Current Target section style here  */
.current-target-container {
  width: 1140px;
  height: 463px;
  margin: 0 auto;
  margin-top: 149px;
}
.current-target-container h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.current-target-container p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-top: 24px;
}
.target-container {
  width: 1140px;
  height: 300px;
  margin-top: 48px;
  display: flex;
  gap: 24px;
}
.html-container {
  width: 364px;
  height: 300px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
.css-container{
  width: 364px;
  height: 300px;
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.js-container {
  width: 364px;
  height: 300px;
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}
.target-container h2{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 24px;
}
.target-container p{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin-top: 8px;
}
.target-container button {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
.html {
  margin: 40px;
}
.css {
  margin: 40px;
}
.js {
  margin: 40px;
}

/* Next Target section style here */
.next-target-container {
  width: 1140px;
  height: 871px;
  margin: 0 auto;
  margin-top: 111px;
}
.next-target-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.next-target-text h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.next-target-text p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-top: 24px;
}
.next-target-lists {
  width: 1140px;
  height: 710px;
  margin-top: 48px;
}
.react {
  width: 1140px;
  height: 220px;
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.node {
  width: 1140px;
  height: 220px;
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.mongo {
  width: 1140px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.react-image img {
  margin-left: 40px;
}
.node-image img {
  margin-left: 30px;
}
.mongo-image img {
  margin-left: 40px;
}
.react-texts h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.react-texts p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin-top: 8px;
}
.react-texts button {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 24px;
}
.node-texts {
  margin-left: 40px;
}
.node-texts h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.node-texts p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin-top: 8px;
}
.node-texts button {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 24px;
}
.mongo-texts h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.mongo-texts p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin-top: 8px;
}
.mongo-texts button {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 24px;
}
.mongo-texts {
  margin-left: 40px;
}
.react-texts {
  margin-left: 40px;
}
/* Next target section styles end here */

/* Support section styles start here */
.support-container {
  width: 1140px;
  height: 314px;
  margin: auto;
  margin-top: 41px; 
  border-radius: 16px;
  background: url(../assets/handshake.jpg), rgb(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.support-texts {
  width: 730px;
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.support-texts h2 {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}
.support-texts p {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 24px;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container input {
  width: 548px;
  padding: 19px 19px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  margin-right: 16px;
  color: rgba(13, 19, 33, 0.4);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}
.form-container input placeholder {
  color: rgba(13, 19, 33, 0.4);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
}
.form-container button {
  width: 120px;
  height: 58px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
.form-container a {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
}
/* Support section styles end here */

/* Footer section styles start here */
.footer-container {
  max-width: 1440px;
  height: 100px;
  margin: 0 auto;
  margin-top: 80px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  padding: 0px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-text {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
.footer-icons {
  margin-right: 38px;
  display: flex;
  gap: 24px;
}
/* Footer section styles end here */
